<div class="rounded-t-xl overflow-visible bg-gradient-to-r from-amber-50 to-amber-100 p-4">
  <div class="flex flex-row space-x-4" id="one-max">
    <%= for i <- 1..(@settings.size-1) do %>
      <div class="w-16 h-16 rounded-md <%= gene_class(@genes, i) %> text-white flex items-center justify-center text-2xl font-extrabold">
        <%= Enum.at(@genes, i) %>
      </div>
      <%= if Integer.mod(i, 10) == 0 do %>
        <div class="break"></div>
      <% end %>
    <% end %>
  </div>
</div>

<form phx-submit="solve" phx-change="new-settings">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        Size
      </label>
      <input class="rounded-lg overflow-hidden appearance-none bg-gray-400 h-3 w-128" type="range" min="5" max="300" step="1" value="<%= @settings.size %>" name="size"/>
      <p class="text-gray-600 text-xs italic"><%= @settings.size %></p>
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
        Population size
      </label>
      <input class="rounded-lg overflow-hidden appearance-none bg-gray-400 h-3 w-128" type="range" min="10" max="300" step="10" value="<%= @settings.population_size %>" name="population_size"/>
        <p class="text-gray-600 text-xs italic"><%= @settings.population_size %></p>
    </div>
  </div>
  <div class="flex items-center justify-between">
    <button class="rounded inline-flex items-center px-8 py-2 rounded-full border border-blue-600 text-blue-600 max-w-max shadow-sm hover:shadow-lg">
      <span>Solve</span>&nbsp;<i class="fas fa-search"></i>
    </button>
  </div>
</form>

<%= if @statistics do %>
  <h2>Generation: <%= @statistics.generation %></h2>
  Best overall: <%= @statistics.fitness %>
<% end %>
